rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    function isIncrement() {
      return request.resource.data['count'] == resource.data['count'] + 1;
    }

    match /_counters/{document} {
      allow read, create;
    }

    match /_counters/{document}/shards/{shard} {
      allow read, create;
      allow update: if isIncrement();
    }

  }
}